
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffeaa7; 
    padding: 30px;
  }
  
  .login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  input {
    width: 100%;
    margin: 10px 0;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #f0932b; /* Button color for the restaurant */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  button:hover {
    background-color: #e67e22; /* Button color on hover */
  }


  .signup-form {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
  }
  
  .signup-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .signup-form button {
    width: 100%;
    padding: 10px;
    background-color: #495e57;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signup-form button:hover {
    background-color: #3a4c45;
  }
  
  
  .signup-form h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  
  .signup-form .error-message {
    color: red;
    margin-top: 10px;
  }
  h1 {
    font-size: 24px; 
    color: #333; 
    font-weight: bold; 
    margin-bottom: 10px; 
  }
  
  h2 {
    font-size: 24px; 
    color:#333; 
    font-weight: bold; 
    margin-bottom: 8px; 
  }
  .form-separator {
    margin: 30px 0; 
    height: 1px;
  }